#header-of-the-page{
  background-color:palevioletred;
  background-image: url(../images/diagmonds-light.png);
  background-repeat: repeat;
  height: 450px;
}
.avatar{
  margin-top:120px ;
  display: flex;
  justify-content:center;
  
}
.avatar-name{
  display: flex;
  justify-content: center;
} 
#header-image{
  margin-top: 20px;
}